<div main-view>
    <h1>Events</h1>

    <div class="accordion" id="accordType">
            <div class="accordion-group" ng-repeat="event in calenderEvents">
                <div class="accordion-heading">
                    <a class="accordion-toggle no-decoration" data-toggle="collapse" href-attribute>
                        <h4>{{event.title.$t}}</h4>
                    </a>
                </div>
                <div id-attribute class="accordion-body collapse">
                    <div class="accordion-inner">
                        <span ng-hide="!event.gd$when[0]"><p><b>When:</b> <span date-format></span></p></span>
                        <span ng-hide="!event.gd$where[0]"><p><b>Where:</b> {{event.gd$where[0].valueString}}</p></span>
                        <span ng-hide="!event.content.$t"><p><b>About:</b> {{event.content.$t}}</p></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>