<div class="panel panel-primary">

  <div class="panel-heading">
    <h2 class="panel-title">About Us</h2>
  </div>
  <div class="panel-body">
    <p>Welcome to the SMU Computer Science and Math Society Facebook Page! SMUCSM will be the name of the online presence for brevity
    We hope to see many new and old faces this new school year and have some awesome events! We had our first meeting and encourage you to look at the recap and comment on it <a target="_blank" href="https://docs.google.com/document/d/1CxhEHiM_nYiGW4YD2FY5Cr9dKU-5anoFccggr-Q3nDg/edit?usp=sharing">Here</a>
    <h4>Here are the Society Pages:<h4>
      <ul>
        <li><a target="_blank" href="https://www.google.com/calendar/embed?src=smu.csm%40gmail.com&ctz=America/Halifax">Google Calendar</a></li>
        <li><a target="_blank" href="https://gitter.im/SMU-CS-and-Math-Society">Chat</a></li>
        <li><a target="_blank" href="https://github.com/orgs/SMU-CS-and-Math-Society/">Github Organization</a></li>
      </ul>
  </div>
</div>
